{% extends 'base.html.twig' %}

{% block title %}Administration des aliments
{% endblock %}

{% block monTitre %}Page Admin
{% endblock %}

{% block body %}
<a href="{{path('admin_aliments_new')}}" class="btn btn-success">Ajouter</a>
	<table class="table">
		<tr class="table-primary">
			<td>Image</td>
			<td>Aliment</td>
			<td>Prix</td>
			<td>Calories</td>
			<td>Proteines</td>
			<td>Glucides</td>
			<td>Lipides</td>
			<td>Actions</td>
		</tr>
		{% for aliment in aliments %}
			<tr>
				<td style="width:10%">
					<img src="{{asset('images/aliments/'~ aliment.image)}}" class="img-fluid" alt="{{aliment.name}}"/>
				</td>
				<td>
					<strong>{{aliment.name}}</strong>
				</td>
				<td>
					{{aliment.price}}
				</td>
				<td>{{aliment.calorie}}</td>
				<td>{{aliment.proteine}}</td>
				<td>{{aliment.glucide}}</td>
				<td>{{aliment.lipide}}</td>
				<td>
        <a href="{{path('admin_aliments_edit', {'id': aliment.id})}}" class="btn btn-warning"> modifier</a>
        <form action="{{path('admin_aliments_delete', {'id': aliment.id})}}" method="post" style="display:inline-block">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="hidden" name="_token" value="{{csrf_token('SUP'~ aliment.id)}}">
          <input type="submit" class="btn btn-danger" value="Supprimer" onsubmit="return confirm('confirmer la suppression?')">
        </form>
        </td>
			</tr>

		{% endfor %}
	</table>


{% endblock %}
