{% extends "base.html.twig" %}

{% block title %}Edition d'un aliment
{% endblock %}

{% block monTitre %}
	{% if edition %}
		Page d'edition
		{{aliment.name}}
	{% else %}
		Ajout d'un aliment
	{% endif %}
{% endblock %}

{% block body %}
	{{form_start(form)}}
	<div class="row">
		<div class="col-6">
			{% if aliment.image %}
				<img src="{{asset("images/aliments/#{aliment.image}")}}" style="width:25%" alt="">
			{% endif %}
			<div>{{form_row(form.image)}}</div>
		</div>

		<div class="col-6">
			{{form_widget(form)}}
		</div>
	</div>
  {% if edition %}
	<input type="submit" class="btn btn-primary" value=" mise à jour">
  {% else %}
	<input type="submit" class="btn btn-primary" value="Ajouter">
  {% endif %}
	{{form_end(form)}}
{% endblock %}
